@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



.main1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 200px;
  height: 87vh;
  font-family: 'Poppins', sans-serif;
  border: 2px solid black;
   margin: 20px; 
  /* background-color: grey; */
}



.menu-tab {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  color: black;
  margin-top: -10px;
  /* margin-bottom: 30px; */
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  /* width: 800px; */
}

.card{
  width: 500px;
  text-align: center;
}

.card h5 {
  font-size: 2.5rem;
  text-align: justify;
  
}

.card p {
  font-size: 1.4rem;
  text-align: justify;
  /* overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word; */
}




.myimg1 img {
  width: 300px;
  height: 400px;
}



/* @media only screen and (max-width: 768px) {

  .main1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 4.5rem !important;
  }


  .myimg1 {
    margin-top: -35px;
  }

  .myimg1 img {
    width: 345px;
    height: 270px;
  }


} */