.bottom-btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-btn {
    font-size: 2.4rem;
    width: 5rem;
    height: 5rem;
    color: #fff;
    background: linear-gradient(to left, #141e30, #243b55);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    border-radius: 50%;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    /* z-index: 999; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-btn .top-btn--icon {
    animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
    0% {
        transform: translateY(-0.5rem);
    }

    100% {
        transform: translateY(1rem);
    }
}