.regmain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 200px;
  height: 50vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #7B33FD, #8332FD, #b83ce4) !important;
}

.regmain h2 {
  font-size: 5rem;
}