/* ----------------------- header Style ---------------------------- */

header {
    height: 8rem;
    padding: 0 4.8rem;
    background-color: #f6f8fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    height: 10rem;
    margin-bottom: 0.5rem;
    width: auto;
}


/* ----------------------- Navbar Style ---------------------------- */

/* ul */
.navbar-lists {
    display: flex;
    gap: 4rem;
    align-items: center;
}

/* li */
.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #212529;
    transition: color 0.3s linear;
    /* hover effect acha nzr aye jbhi  */
}

.navbar-link:hover,
.navbar-link:active {
    color: #8490ff !important;
}

.mobile-nav--btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

/*specific cross x icon hide rhy but menu icon dekha isilya  */
.mobile-nav--icon[name="close-outline"] {
    display: none;
}

.close-outline {
    display: none;
}

/* ----------------------- header & Navbar Responisve Style ---------------------------- */

@media (max-width: 798px) {
    .logo {
        height: 10rem !important;
    }

    .mobile-nav--btn {
        display: inline-block;
        z-index: 999;
        border: #212529;
    }

    .mobile-nav--btn .mobile-nav--icon {
        font-size: 4.2rem;
        color: #212529;
    }

    .active .mobile-nav--icon {
        display: none;
        font-size: 4.2rem;
        position: absolute;
        /*header my relative ki vi hy*/
        top: 30%;
        right: 10%;
        color: #212529;
        z-index: 9999;
    }

    .active .close-outline {
        display: inline-block;
    }

    .navbar-lists {
        width: 100vw;
        height: 100vh !important;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
        /* transform-origin: top; */
        transition: all 0.3s linear;
    }

    .active .navbar-lists {

        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        z-index: 999;
        transform-origin: right;
        transition: all 0.3s linear;
    }

    .navbar-link {
        font-size: 4.2rem !important;
    }

}