.modal-header {
    background: #1A2238;
}

.modal-title {
    font-size: 2.5rem;
    color: #fff;
}

.modal-btn-close {
    color: #fff !important;
    font-size: 2.5rem;
}

.modal-header .btn-close {
    color: #fff !important;
}

.radio-class {
    width: 1.8rem !important;
    height: 1.8rem !important;
}

.event-register-radio-label {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 4px;
}

.event-register-input {
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 1em 0 12px;
    padding-left: 0;
    background: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 400;
    border: none;
    outline: none;
    border-bottom: 1px solid #999;
}

.event-register-input:focus {
    transform: scaleX(1) translateY(-2px);
    opacity: 1;
    border-bottom: none;
}


.event-register-input:focus+.separator {
    transform: scaleX(1) translateY(-2px);
    opacity: 1;
}

.event-register-separator {
    height: 3px;
    width: 100%;
    background: #1A2238;
    display: block;
    transform: scaleX(0) translateY(-2px);
    transform-origin: 50%;
    opacity: 0;
    transition: all 0.25s linear;
}

.event-register-btn {
    color: white;
    background: linear-gradient(to right, #141e30, #243b55);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    margin: 25px 0px 25px 0px;
    outline: none;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    transition: width 1.4s ease;
}

.event-register-btn:hover {
    cursor: pointer;
    background: linear-gradient(to left, #141e30, #243b55);
}