.event-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f1f5fd;
    margin-top: -3.4rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    height: 6rem;
    border: 3px solid #1a2238;
    outline: 3px solid #f1f5fd;
}

.event-nav-h2 {
    margin-bottom: 0px !important;
}


.event-nav-h2 {
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.event-nav-h2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.4px;
    border-radius: 4px;
    background-color: #1a2238;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.event-nav-h2:hover::before {
    cursor: pointer;
    height: 2.4px;
    transform-origin: left;
    transform: scaleX(1);
}


/* .event-nav-h2:hover {
    cursor: pointer;
    margin-bottom: 0px !important;
    border: 2px solid #1a2238;
    padding: 6px 7px;
    font-size: 2rem;
    border-radius: 1rem;
} */