@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* body {
    font-family: 'Poppins', sans-serif !important;
    background: #eff3f8;
} */

.section-sponser {
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 0;
    padding-right: 0;
}

.main-sponser-heading {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3.8rem;
}

.slick-slide {
    margin: 0 20px;
}

.slick-slide img {
    width: 60%;
    /* height: 10rem; */
}

.slick-slider {
    position: relative;
    box-sizing: border-box;

    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #42e9e1; */
    /* background: #41d4d5; */
    background: #04D2C8;
    /* background: #61b6c1; */
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 25rem;
}


.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    margin-top: 60px;
}

.slick-slide img {
    display: block;
}

.slick-initialized .slick-slide {
    display: block;
}

.copy {
    padding-top: 250px;
}

.slide {
    border: none;
    outline: none;
}

@media only screen and (max-width: 768px) {
    .section-sponser {
        height: 50vh;
    }

    .slick-slide img {
        width: 10rem;
        /* height: 10rem; */
    }

    .slick-list {
        height: 22rem;
    }

    .slick-slider {

        height: 22rem;
    }

    .slick-slide {

        margin-top: 50px;
    }

    .slide {
        margin-right: 10px;
        margin-left: 10px;
    }
}